# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependencies
node_modules/
dist/
dist-ssr/
certificates/

# API keys
src/data/API_KEY_GEMINI
src/data/API_KEY_GROQ

# Logs
src/data/failed_processor.log
src/data/failed_scrape.log

# venv
src/env/
env/

# Python
*.pyc
*.pyo
*.py[cod]
__pycache__/
**/__pycache__/
backend/__pycache__/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.iml
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local

# TypeScript build
*.tsbuildinfo

# Windows
Thumbs.db
backend/data/API_KEY_OPENROUTER
src/data/news.db
