# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependencies
node_modules/
dist/
dist-ssr/
certificates/

# Backend
backend/api_data/*
backend/data/API_KEY_GEMINI
backend/data/API_KEY_GROQ
backend/data/articles.json
backend/data/failed_processor.log
backend/data/failed_scrape.log
backend/env/

# Python
*.pyc
*.pyo
*.py[cod]
__pycache__/
**/__pycache__/
backend/__pycache__/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.iml
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local

# TypeScript build
*.tsbuildinfo

# Windows
Thumbs.db
