# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependencies
node_modules/
website/node_modules/
dist/
website/dist/
dist-ssr/
certificates/

# API keys
data/API_KEY_GEMINI
data/API_KEY_GROQ
data/API_KEY_OPENROUTER
*API_KEY*

# venv
venv/

# Python
*.pyc
*.pyo
*.py[cod]
__pycache__/
**/__pycache__/
analyzer/__pycache__/
scraper/__pycache__/
website-backend/__pycache__/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.iml
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local

# TypeScript build
*.tsbuildinfo

Thumbs.db
src/data/news.db
